$call-to-action-text: #4C566A;
$call-to-action-close: #ff8282;
$call-to-action-border: #d2d2d2;

call-to-action {
    background: url("./images/background.png");
    background-size: cover;
    background-position: top left;
    border: 1px solid $call-to-action-border;
    color: $call-to-action-text;
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: 195px;
    position: relative;
    cursor: pointer;
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            text-align: center;
            margin: 5px;
            b {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        fill: $call-to-action-close;
        cursor: pointer;
    }
}
